body {
    text-align: center;
    padding: 5%;
    padding-left: 15%;
    padding-right: 15%;
}

.App {
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 30px;
}

.gift {
    border: 1px solid lightgray;
    border-radius: 5px;
    margin: 20px;
    padding: 20px;
    box-shadow: 5px 5px 5px lightgray;
}

.gift:hover {
    animation: pulse 7s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1)
    }

    50% {
        transform: scale(1.05)
    }

    100% {
        transform: scale(1)
    }
}
